.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Lora', serif;
    color: #444;
}

.headerTitlesSm{
    font-size: 18px;
    position: absolute;
    top:18%;
}

.headerTitlesLg{
    font-size: 40px;
    position: absolute;
    top: 20%;
}

.headerImg{
    width: 100%;
    height: 800px;
    margin-top: 80px;
    object-fit: cover;
}